/* :root {
	--main-bg: #0d1a2b;
	--dark-bg: #0a1221;

	--text: #a4b4c1;
	--accent: #00bfff;
	--heading: #1e90ff;
} */

:root {
	--main-bg: #141d2b;
	--dark-bg: #0b121f;

	--text: #a4b1cd;
	--accent: #9fef00;
	--heading: #cad2e2;

	--opacity: 50%;
	--border-color: color-mix(in srgb, currentColor var(--opacity), transparent);
	/* --border-color:var(--dark-bg); */
	--radius: 10px;
	--table-border-width: 1px;
}

body {
	font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
	font-size: 16px;
	background-color: var(--main-bg);
	color: var(--text);
	line-height: 2;
}

hr {
	opacity: var(--opacity);
	display: block;
	height: 1px;
	border: 0;
	border-top: 1px solid var(--text);
	margin: 1em 0;
	padding: 0;
}

.main-stuff > main {
	display: flex;
	flex-direction: column;
	align-self: center;
	padding: 10px;
	width: 310px;
}

@media screen and (min-width: 350px) {
	.main-stuff > main {
		width: 340px;
	}
}

@media screen and (min-width: 400px) {
	.main-stuff > main {
		width: 400px;
	}
}

@media screen and (min-width: 700px) {
	.main-stuff > main {
		width: 700px !important;
	}

	.main-stuff > main {
		width: 700px;
		padding: 0px 20px;
		font-size: 18px;
	}
}

img {
	border-radius: var(--radius);
	margin: 0 auto;
	max-width: 100%;
}

a {
	color: var(--accent);
	text-decoration: none;
}

a:hover {
	text-decoration: underline;
}

h1,
h2,
h3,
h4,
h5,
h6 {
	color: var(--heading);
	/* margin-top: 10px; */
}

blockquote {
	background-color: var(--dark-bg);
	border-radius: var(--radius);
	border-left: 4px solid var(--accent);
	padding: 1px 20px;
	margin: 0 auto;
}

/* inline code */
code:not(.astro-code code) {
	/* background-color: var(--dark-bg); */
	color: var(--accent);
}

/*multiline code */
.astro-code {
	padding: 10px;
	font-size: 15px;
	font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
	border-radius: var(--radius);
}

/* // code with line numbers  */
code {
	counter-reset: step;
	counter-increment: step 0;
}

code .line::before {
	content: counter(step);
	counter-increment: step;
	width: 1rem;
	margin-right: 1.5rem;
	display: inline-block;
	text-align: right;
	color: rgba(115, 138, 148, 0.4);
}

li::marker {
	color: var(--accent);
}

.nav-links {
	display: flex;
	justify-content: center;
}

.nav-links > * {
	margin: 10px;
}

::selection {
	background-color: var(--accent);
	color: var(--main-bg);
}

/*scrollbar */

* {
	scrollbar-color: var(--accent) var(--dark-bg);
	scrollbar-width: 5px;
}

/*table*/
table {
	width: 100%;
	border-spacing: 0;
	font-size: 16px;
}

td {
	font-size: 14px;
}

.main-stuff td,
.main-stuff th {
	padding: 5px 10px !important;
	border: calc(var(--table-border-width) / 2) solid var(--border-color);
}

.article-table td {
	min-width: 70px;
}

/* //left most columns left side */
tr td:first-child,
tr th:first-child {
	border-left: var(--table-border-width) solid var(--border-color);
}

/* //right most columns right side */
tr td:last-child,
tr th:last-child {
	border-right: var(--table-border-width) solid var(--border-color);
}

/* the first rows top most side */

th {
	border-top: var(--table-border-width) solid var(--border-color);
}

/* the bottom most rows bottom side  */
tbody tr:last-child td {
	border-bottom: var(--table-border-width) solid var(--border-color);
}

/* //table radius */
/* top left */
thead tr th:first-child {
	border-top-left-radius: var(--radius);
}

/* top right */
thead tr th:last-child {
	border-top-right-radius: var(--radius);
}

/* bottom left  */
tbody tr:last-child td:first-child {
	border-bottom-left-radius: var(--radius);
}

/* Bottom-right corner cell (last cell of the last row) */
tbody tr:last-child td:last-child {
	border-bottom-right-radius: var(--radius);
}

/* the article table stuff as ina uthor name and stuff that doesnt have thead  */
/* it has direct body */
.article-table tbody tr:first-of-type td:first-of-type {
	border-top-left-radius: var(--radius);
}

.article-table tbody tr:first-of-type td:last-of-type {
	border-top-right-radius: var(--radius);
}

/* the top most tbodys top side */
.article-table tbody tr:first-child td {
	border-top: var(--table-border-width) solid var(--border-color);
}

thead tr {
	background-color: var(--dark-bg);
}

.main-stuff tr:nth-of-type(even):not(.article-table tr) {
	background-color: var(--dark-bg);
}

/*tags */
p.tag {
	display: inline;
}

p.tag a {
	display: inline-block;
	font-weight: bold;
	color: var(--main-bg);
	background-color: var(--accent);
	border-radius: 20px;
	padding: 0px 10px;
	margin: 5px;
}

/* transitions animations  */
* {
	transition: all 0.3s ease;
}

@keyframes fadeInUp {
	from {
		opacity: 0;
		transform: translateY(10px);
	}
	to {
		opacity: 1;
		transform: translateY(0);
	}
}

.animate {
	opacity: 0; /* Initially hidden */
	animation: fadeInUp 0.3s ease-out forwards;
}
