---
import { Icon } from "astro-icon/components";
---

<nav class="round-btn-container" id="round-btn-container">
    <button class="round-button" id="right-button" aria-label="Toggle Table of Blogs" name="right-button">
        <Icon name="mdi:book-open-variant" />
    </button>
    <button class="round-button" id="left-button" aria-label="Toggle Table of Contents" name="left-button">
        <Icon name="mdi:list-box-outline" />
    </button>
    <button class="round-button" id="middle-button" aria-label="Close Button Dialog" name="middle-button">
        <!-- <Icon name="mdi:menu" /> -->
        <Icon name="mdi:radioactive" />
    </button>
</nav>
<!-- golam! -->
<style>
    .round-button {
        display: flex;
        justify-content: center;
        align-items: center;
        background-color: var(--dark-bg);
        color: var(--text);
        border-radius: 100%;
        height: 40px;
        width: 40px;
        border: 3px solid var(--text);
        font-size: 22px;
    }
    .round-button:nth-of-type(odd) {
        margin: 0px 10px;
    }
    .round-button:hover {
        transform: scale(1.3);
        transition: transform 0.1 ease;
        /* border: 3px solid var(--heading); */
        /* color: var(--accent); */
    }
    .round-button:active {
        color: var(--accent);
        border: 3px solid var(--accent);
    }
    .round-btn-container {
        z-index: 10;
        display: inline-flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 15px;
        padding: 10px 0px;
        /* border-radius: var(--radius);  */
        border-radius: 40px;
        background-color: var(--dark-bg);
        position: fixed;
        bottom: 10px;
        right: 10px;
    }

    /* classes for js */
    .active-state {
        color: var(--accent);
        border: 3px solid var(--accent);
    }
    /* button hide */
    .rotate {
        transform: rotate(180deg);
    }
    .hidden {
        display: none;
    }
</style>

<script is:inline>
    let middle, left, right, container;
    // https://stackoverflow.com/questions/77278507/javascript-is-not-working-on-page-change-in-astro
    document.addEventListener("astro:page-load", () => {
        middle = document.getElementById("middle-button");
        left = document.getElementById("left-button");
        right = document.getElementById("right-button");
        container = document.getElementById("round-btn-container");

        const buttons = document.querySelectorAll(".round-button");

        buttons.forEach((button) => {
            button.addEventListener("click", () => {
                button.classList.toggle("active-state");
            });
        });

        middle.addEventListener("click", () => {
            middle.classList.toggle("rotate");
            left.classList.toggle("hidden");
            right.classList.toggle("hidden");

            // container.classList.toggle("visibility");
        });
        left.addEventListener("click", () => {
            let contents = document.getElementById("table-of-contents");

            if (window.innerWidth < 1350) {
                contents.classList.toggle("show-table-of-contents");
            } else {
                contents.classList.toggle("hidden");
            }
        });
        right.addEventListener("click", () => {
            let contents = document.getElementById("blogs-link-table");

            if (window.innerWidth < 1350) {
                contents.classList.toggle("show-blogs-link-table");
            } else {
                contents.classList.toggle("hidden");
            }
        });
    });
</script>
