---
// import BaseLayout from "src/layouts/BaseLayout.astro"; works
import BaseLayout from "@layouts/BaseLayout.astro"; //doesnt work
import BlogsLinkTable from "@components/BlogsLinkTable.astro";
import TableOfContents from "@components/TableOfContents.astro";
import ArticleTable from "@components/ArticleTable.astro";
import CircleButton from "@components/CircleButton.astro";
const { frontmatter, headings } = Astro.props;
import { ClientRouter } from "astro:transitions";
---

<head>
  <ClientRouter />
  <meta charset="UTF-8" />
</head>
<BaseLayout pageTitle={frontmatter.title}>
  <div class="main-stuff">
    <main class="animated">
      <ArticleTable frontmatter={frontmatter} />
      <slot />
    </main>
    <BlogsLinkTable />
    <TableOfContents headings={headings} />
  </div>
  <CircleButton />
</BaseLayout>
<style>
  .main-stuff {
    display: flex;
    justify-content: center;
    scroll-behavior: smooth;
  }
  @keyframes fadeInUp {
    from {
      opacity: 0;
      transform: translateY(50px);
    }
    to {
      opacity: 1;
      transform: translateY(0);
    }
  }

  .animated {
    opacity: 0; /* Initially hidden */
    animation: fadeInUp 0.7s ease-out forwards;
  }
</style>
