---
import BaseLayout from "./BaseLayout.astro";
import TableOfContents from "../components/TableOfContents.astro";
import ArticleTable from "../components/ArticleTable.astro";
const { frontmatter } = Astro.props;
const { headings } = Astro.props;
---

<BaseLayout pageTitle={frontmatter.title}>
  <div class="main-stuff">
    <main>
      <ArticleTable frontmatter={frontmatter} />
      <slot />
    </main>
    <TableOfContents headings={headings} />
  </div>
</BaseLayout>
<style>
.main-stuff {
    display: flex;
    justify-content: center;
  }

</style>
