---
// import BaseLayout from "src/layouts/BaseLayout.astro"; works
import BaseLayout from "@layouts/BaseLayout.astro"; //doesnt work
import BlogsLinkTable from "@components/BlogsLinkTable.astro";
import TableOfContents from "@components/TableOfContents.astro";
import ArticleTable from "@components/ArticleTable.astro";
import CircleButton from "@components/CircleButton.astro";
const { frontmatter, headings, moduleName } = Astro.props;
import { ClientRouter } from "astro:transitions";
---

<head>
  <ClientRouter />
  <meta charset="UTF-8" />
</head>
<BaseLayout pageTitle={frontmatter.title}>
  <div class="main-stuff">
    <main class="animate">
      <ArticleTable frontmatter={frontmatter} />
      <slot />
    </main>
    <BlogsLinkTable moduleName={moduleName} />
    <TableOfContents headings={headings} />
  </div>
  <CircleButton />
</BaseLayout>
<style>
  .main-stuff {
    display: flex;
    justify-content: center;
    scroll-behavior: smooth;
  }
</style>
